<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img style="width: 300px; height: 300px;" src="../../assets/images/logoInicio.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="textoInicio">
          Encontre seu pet, produtos para pet tudo na <mark>comunidade</mark> de amantes de animais
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (ionFocus)="rota('login')" color="primary" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (ionFocus)="rota('dashboard')" color="secondary" expand="block">Começar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
